@model List<Questlogd.Models.Game>

@{
    ViewData["Title"] = "All Games";
}

<h1>Game Library</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Developer</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.Developer</td>
                <td>@game.ReleaseDate.ToString("yyyy-MM-dd")</td>
                <td><a href="/games/view/@game.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/games/view/create" class="btn btn-primary">Add New Game</a>