@page "/todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.isDone))</h3>
@code {
    public string motivation="";
    private void MotivationText () {
        if (todos.Count(todo => !todo.isDone) <= 0){
            motivation = "All done!";
        }
        else if ((todos.Count(todo => !todo.isDone) > 3)) {
            motivation = "Not much left!";
        }
        else if ((todos.Count(todo => !todo.isDone) > 5)) {
            motivation = "Woah, better get to it!";
        }
    }
}
<p>(@motivation)</p>

<ul>
    @foreach (var todo in todos)
    {
        <li style="list-style-type: none">
            <input type="checkbox" @bind="todo.isDone"/>
            <input @bind="todo.Title"/>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<ToDoItem> todos = [];
    private string? newTodo;

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new ToDoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}